# Node modules
node_modules/

# Build output
dist/
build/

# TypeScript cache files
*.tsbuildinfo

# Environment variables
.env

# Logs
*.log

# VSCode settings folder
.vscode/

# React specific
/build

# ts-node-dev cache (for backend dev)
.ts-node-dev/
